body{
    background-image: url(/bg.jpeg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
/* nav */
nav{
    display: flex;
    position: sticky;
}
a{
    text-decoration: none;
    color: rgb(166,66,144);

}

/* logo */
.logo{
    justify-content: left;
    margin-left: 20px;
}
nav img{
    width: 5%;
    
}

/* name */
.name{
    margin-left: 400px;
}

/* contact us */
.contact a{
    margin-left: 360px;
   
}

hr{
    color: rgb(166,66,144);
}

/* button */

.button{
    font-size: 50px;
    color: rgb(166,66,144);
    background-color: whitesmoke;
    padding: 20px;
    border: 2px solid black;
    border-radius: 60px;
    margin: 630px;
  
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(166,66,144);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #59a75c;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #313131;
    opacity: 0.8;
    padding: 20px;
    margin-top: 60px;
  }